[id] {
  scroll-margin-top: 134px;
}

/**
 * Colors
 * -------------------------------------------------------------------------- */
:root {
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);
  
  --vp-c-brand-1: #3150fa;
  --vp-c-brand-2: #283198;
  --vp-c-brand-3: #324fff;
  --vp-c-brand-soft: var(--vp-c-indigo-soft);
  
  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);
  
  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);
  
  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */
:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */
:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #00e8ff 15%, #3150fa);
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #00ffff, #00e8ff 25%, #324fff 75%, #283198 100%);
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */
:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */
.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

/**
 * Component: Demo
 * -------------------------------------------------------------------------- */
.demo.overview {
  &.fixed-height {
    height: min(max(50vw, 30vh), 360px);
    
    content-hero::part(container) {
      height: 500px;
    }
  }
  
  &.no-overflow .content {
    overflow: hidden;
  }
  
  &.no-spacing .content {
    padding: 0;
    justify-self: stretch;
    
    page-main::part(content) {
      margin: 0;
    }
    
    page-header.focus:before {
      z-index: 1000;
    }
  }
  
  a {
    cursor: pointer;
  }
  
  page-header {
    --header-bgColor: var(--vp-c-bg-soft);
  }
  
  page-nav {
    --container-textColor: var(--vp-c-neutral);
    --container-textColor-sm: var(--vp-c-white);
    --container-hoverColor: var(--vp-button-brand-active-bg);
    --link-shadowColor: var(--vp-c-indigo-3);
  }
  
  page-main {
    --container-fgColor: var(--vp-c-bg-elv);
    --container-bgColor: transparent;
  }
  
  content-topics {
    margin: -8px 0 16px;
    --title-bgColor: var(--vp-c-text-1);
    --title-textColor: var(--vp-c-bg);
  }
  
  content-languages {
    --heading-textColor: var(--vp-c-text-1);
    --container-textColor: var(--vp-c-neutral);
    --container-bgColor: var(--vp-c-bg-elv);
  }
  
  content-hero::part(content) {
    text-align: left;
    max-width: 538px;
    padding: 0;
  }
  
  content-article {
    grid-column: span 2;
    --header-borderColor: var(--vp-c-neutral);
    
    &[variant] {
      grid-column: span 1;
      --header-bgColor: var(--vp-c-divider);
      --content-bgColor: var(--vp-c-gray-3);
      --container-outlineColor: var(--vp-c-border);
      
      h4[slot=title] {
        font-weight: bold;
        border-bottom: 1px solid var(--header-borderColor);
      }
    }
  }
  
  content-carousel {
    margin: 8px;
    
    &::part(container) {
      padding: 16px 8px 0;
    }
    
    &.focus:before {
      z-index: 1;
    }
    
    content-article {
      --container-outlineColor: var(--vp-c-border);
    }
  }
}